@page
@model RegisterModel
@{ ViewData["Title"] = "Registrarse"; }

<h1 class="efectoTitulo">@ViewData["Title"]</h1>
<hr />
<h4>Crear una cuenta nueva</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

            <div asp-validation-summary="All" class="text-danger"></div>
              
            <div class="form-floating mb-3">
                <input asp-for="Input.Nombre" class="form-control" placeholder="Ingrese nombre" />
                <label asp-for="Input.Nombre" class="control-label"></label>
                <span asp-validation-for="Input.Nombre" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Apellido" class="form-control" placeholder="Ingresar apellido" />
                <label asp-for="Input.Apellido" class="control-label"></label>
                <span asp-validation-for="Input.Apellido" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" placeholder="Ingrese email" />
                <label asp-for="Input.Email" class="control-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" placeholder="Ingrese contraseña" />
                <label asp-for="Input.Password" class="control-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="" />
                <label asp-for="Input.ConfirmPassword" class="control-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
