@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de reinicio de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Su contraseña se ha reiniciado. Por favor <a asp-page="./Login">presione aquí para ingresar</a>.
</p>
