@model HealthCare.Web.Models.Patologia

@{
    ViewData["Title"] = "Patologías";
    ViewData["TituloOperacion"] = "Agregar Patología";

}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <select asp-for="TipoId" class="form-select" asp-items="ViewBag.TipoId"></select>
                <label asp-for="TipoId" class="control-label">Seleccione tipo de Patología</label>
                <span asp-validation-for="TipoId" class="text-danger"></span>
            </div>


            <div class="form-floating mb-3">
                <input asp-for="Nombre" class="form-control" placeholder="" />
                <label asp-for="Nombre" class="control-label"></label>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>


            <div class="form-group mb-3">
                <input type="submit" value="Agregar Patología" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Index">Volver a lista</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
