@{
    @model Producto;
    ViewData["Title"] = "Editar Producto";
    ViewData["TituloOperacion"] = "Editar Producto";
}

<form class="needs-validation" novalidate asp-action="Actualizar" method="post">
    <div class="form-row">

        <input type="hidden" asp-for="Id">

        <div class="col-md-4 mb-3">

            <label asp-for="Nombre">Nombre:</label>
            <input type="text" class="form-control" asp-for="Nombre" placeholder="Ingrese Nombre"  required>
            <div class="valid-feedback">
                Campo ingresado correcto
            </div>
            <div class="invalid-feedback">
                Ingrese nombre del producto
            </div>
        </div>


        <div class="col-md-4 mb-3">
            <label asp-for="Precio">Precio:</label>
            <input type="number" class="form-control" asp-for="Precio" placeholder="Ingrese precio"  required>
            <div class="valid-feedback">
                Campo ingresado correcto
            </div>
            <div class="invalid-feedback">
                Ingrese precio del producto
            </div>
        </div>

        
        <div class="col-md-4 mb-3">
            <label asp-for="Activo">Activo:</label>
            <div>
                <select asp-for="Activo">
                    <option value="true">Si</option>
                    <option value="false">No</option>
                </select>
            </div>
        </div>
        
    </div>


    <button class="btn btn-primary" type="submit">Guardar Cambios</button>
</form>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>